<!DOCTYPE html>
<html lang="en">
    <head>
        <title>PlutoTwit Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://kit.fontawesome.com/119591d6ae.js" crossorigin="anonymous"></script>
        <link href="/static/login.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    </head>
    <body>
        <img src="/svgs/Blue-Wave-PNG-Picture.png" class="blue-wave">
        
        <div class="container">
            <div class="img">
                <img src="/svgs/undraw_secure_login_pdn4.svg" alt="">
            </div>
            <div class="login-container">
                <form action="" method="post">
                    <img class="avater" src="/svgs/undraw_profile_pic_ic-5-t.svg" alt="login profile">
                        <h1>PlutoTwit <br> Login</h1>
                        <p>Please Login to Access Your Account.</p>
                <div class="input-div one">
                    <div class="user"><i class="fa-regular fa-user"></i></div>
                    <div>
                        <h5>Student Password</h5>
                        <input type="text" id="student-name" class="student-name" 
                        name="student-name" required>
                    </div>

                </div>

                <div class="input-div two">
                    <div class="user"><i class="fa-regular fa-at"></i></div>
                    <div>
                        <h5>Student Password</h5>
                        <input type="email" id="student-email" class="student-email"
                        name="student-email" required>
                    </div>

                </div>

                <div class="input-div three">
                    <div class="user"><i class="fa-regular fa-lock"></i></div>
                    <div>
                     <h5>Student Password</h5>
                        <input type="password" id="student-password" class="student-password"
                        name="student-password" required>
                    </div>

                </div>
                    <input type="submit" class="submit" value="Login">
                </form>
            </div>
        </div>

    
    </body>
</html>